
body{
	margin:0;
	padding:0;
	list-style:none;
    letter-spacing:0.2px;
    min-height: 100vh;
    flex-direction: column;
   
}
  main {
    flex: 1 0 auto;
  }
p,ul{
    font-size: 20px;
    font-family: Gill Sans Extrabold, sans-serif;
}
h5{
    color: red;
}
h4{
    color: red;
    /* font-size: 20px; */
}
.g-recaptcha {
    float: right;
}

#message {  padding: 0px 40px 0px 0px; }
#mail-status {
    padding: 12px 20px;
	width: 100%;
	height: 50px;
    display:none; 
    font-size: 1em;
    font-family: "Georgia", Times, serif;
    color: rgb(250, 250, 250);
}
.error{background-color: #ee110a;  margin-bottom: 40px;}
.success{background-color: #01b698; }